/* general styles */

/* universal box sizing */
* {
  box-sizing: border-box;
}

/* most widely used web-safe font */
body {
  font-family: Arial, sans-serif;
}

/* find margin best practice, mix with responsive example */

/*
p {
  margin: 15px;
}

h1,h2,h3,h4 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 1rem;
}

ul li::marker {
  content: "> ";
}

*/

pre code {
  padding: 1rem;
  display: block;
  background-color: #eee;
  border: 1px solid #999;
}

/* site wide */

.h1-main {
  padding: 5%;
  text-align: center;
  background-color: gray;
}

.menu {
  width: 19%;
  position: fixed;
  z-index: 1;
  top: auto;
  overflow-x: hidden;
  padding: 1%;
  background-color: black;
}

.menu a {
  background-color: red;
  padding: 0.5rem;
  width: 100%;
  display: block;
  text-align: right;
  margin-top: 7px;
}

.main {
  background-color: blue;
  padding: 5%;
  margin-left: 20%;
}

.main ul li {
  padding: 0.25rem;
}

.main-section {
  padding: 1%;
  background-color: green;
}

.footer {
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  background-color: gray;
}

/* styles for resume/cv section */

.cv-section {
  padding: 1rem;
}

.cv-header {
  padding: 0.5rem 0 1rem 0;
  font-style: italic;
}

.cv-header-left {
  width: 50%;
  float: left;
}

.cv-header-right {
  width: 50%;
  float: right;
  text-align: right;
}

.cv-details {
  padding-top: 1rem;
}

@media only screen and (max-width: 620px) {

  /* For mobile phones: */
  .menu {
    width: 100%;
    position: relative;
  }

  .menu a {
    padding: 0.5rem;
    width: 100%;
    display: block;
    text-align: center;
  }

  .main {
    width: 100%;
    margin-left: auto;
  }

}