/* colors */

:root {
  --background-menu: black;
  --background-menu-item: red;
  --background-header-footer: gray;
  --background-content: blue;
  --background-content-section: green;
}

/* general styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  margin-top: 1rem;
}

h3 {
  margin-bottom: 0;
}

pre code {
  padding: 1rem;
  display: block;
  background-color: #eee;
  border: 1px solid #999;
}

/* main page */

.menu {
  width: 160px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: -4em;
  float: left;
  background-color: var(--background-menu);
}

.menu a {
  margin-top: 0.5em;
  padding: 0.5em;
  display: block;
  font-size: larger;
  text-align: right;
  background-color: var(--background-menu-item);
}

/* site wide styles */

.header {
  padding: 1em;
  text-align: center;
  background-color: var(--background-header-footer);
}

.content {
  margin-left: 160px;
  padding: 0.5em;
  background-color: var(--background-content);
}

.content-section {
  margin-bottom: 0.5em;
  padding: 1em;
  background-color: var(--background-content-section);
}

.content-subsection {
  margin-bottom: 2em;
  padding: 0em;
}

.footer {
  padding: 0.5em;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 4em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1000;
  background-color: var(--background-header-footer);
}

/* cv styles */

.cv-section {
  margin-top: 1em;
}

.cv-header {
  font-style: italic;
}

.cv-header-left {
  margin-bottom: 0;
  width: 36%;
  float: left;
}

.cv-header-right {
  margin-bottom: 0;
  width: 60%;
  float: right;
  text-align: right;
}

.clear {
  clear: both;
}

/* hidden elements */

.content-hidden-contact {
  display: none;
  height: 0 !important;
}


@media only screen and (max-width: 620px) {

  /* for mobile phones */

  .menu,
  .content,
  .footer {
    width: 100%;
    float: left;
    margin: auto;
    height: auto;
    position: relative;
  }

  .menu a {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }

}

@media only screen and (max-height: 310px) {

  /* hide menu for limited vertical height */

  .menu {
    visibility: hidden;
    height: 0px;
  }

  .content {
    width: 100%;
    margin: auto;
  }

}

@media print {

  /* hide unnecessary elements */
  
  .header, .footer, .menu {
    display: none !important;
  }

  #intro, #projects, #posts, #about {
    display: none !important;
  }
  
  body {
    background-color: white !important;
  }

  .content {
    width: 100%;
    margin: auto;
    padding: 2em;
  }

  .content-hidden-contact {
    display: initial !important;
    height: auto;
  }

}